/* stylelint-disable length-zero-no-unit */
$breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
) !default;
/* stylelint-enable */

$mq-breakpoints:                    $breakpoints;
