$body-bg:                           #fff !default;
$body-color:                        #333 !default;
$link-color:                        #f00 !default;
$heading-color:                     inherit !default;
