$base-font-size:                    1rem !default; // uses browser default as base, can be changed by setting a percentage / pixel value on html tag
$base-font-weight:                  400 !default;
$base-line-height:                  1.5 !default;
$base-font-family:                  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif !default; /* stylelint-disable-line */

$font-size-h1:                      2.25rem !default;
$font-size-h2:                      1.75rem !default;
$font-size-h3:                      1.5rem !default;
$font-size-h4:                      1.25rem !default;
$font-size-h5:                      1.125rem !default;
$font-size-h6:                      1rem !default;

$heading-font-family:               $base-font-family !default;
$heading-font-weight:               700 !default;
$heading-line-height:               1.25 !default;
$heading-margin-top:                0 !default;
$heading-margin-bottom:             1.5rem !default;

$link-decoration:                   underline !default;
