@import '../settings/breakpoints';
@import '../settings/layout';

@mixin _make-offset($totalColumnCount) {
    @for $i from 1 through $totalColumnCount {
        &-#{$i} {
            margin-left: percentage($i / $totalColumnCount);
        }
    }
}

@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include mq($from: $breakpoint-name) {
        .layout__item--offset-#{$breakpoint-name} {
            @include _make-offset($layout-items);
        }
    }
}
