@import '../settings/form';

.form-select {
    display: block;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    padding: $form-select-padding;
    border: 1px solid $form-select-border-color;
    border-radius: $form-field-border-radius;
    background-image: $form-select-icon;
    background-repeat: no-repeat;
    background-position: center right 0.625rem;
    background-size: $form-select-bg-size;
    background-color: $form-select-bg-color;
    line-height: $base-line-height;
    color: $form-select-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
        border-color: $form-field-focus-border-color;
        outline: none;

        &::-ms-value {
            color: $form-select-color;
            background-color: $form-select-bg-color;
        }
    }

    &::-ms-expand {
        opacity: 0;
    }

    &:disabled {
        background-color: $form-field-bg-disabled;
    }

    .form--inline & {
        width: auto;
    }

    .has-error & {
        padding-right: 2.25rem;
        border-color: $form-group-error-color;
        background-image: $form-group-error-icon;
        background-repeat: no-repeat;
        background-position: center right 0.563rem;
        background-size: 1.125rem 1.125rem;

        &:focus {
            box-shadow: $form-field-box-shadow, 0 0 6px lighten($form-group-error-color, 20%);
        }
    }
}
