@import '../settings/form';

select {
    &:focus::-ms-value {
        color: $form-field-color;
        background-color: #fff;
    }
}

input[type='checkbox'],
input[type='radio'] {
    &:disabled {
        cursor: not-allowed;
    }
}

.form__group {
    margin-bottom: 1rem;

    &.has-error {
        .form__label {
            color: $form-group-error-color;
        }
    }
}

.form__file {
    display: block;
}

.form__text {
    display: block;
    margin-top: 0.25rem;
    color: $form-text-muted;
}

.form__error-message {
    display: block;
    margin-top: 0.25rem;
    color: $form-group-error-color;
}

.form--inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    > * {
        margin-right: 0.5rem;
        margin-bottom: 0;
    }

    .form__label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}
