@import '../settings/form';

.form-field {
    display: block;
    width: 100%;
    padding: $form-field-padding;
    border: 1px solid $form-field-border-color;
    border-radius: $form-field-border-radius;
    background-color: $form-field-bg-color;
    background-image: none;
    background-clip: padding-box;
    font-family: $form-field-font-family;
    font-size: 1rem;
    font-weight: $form-field-font-weight;
    line-height: $base-line-height;
    letter-spacing: $form-field-letter-spacing;
    color: $form-field-color;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:focus {
        border-color: $form-field-focus-border-color;
        outline: 0;
    }

    &::placeholder {
        color: $form-field-placeholder-color;
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: $form-field-bg-disabled;
        opacity: 1;
    }

    .has-error & {
        padding-right: 2.25rem;
        border-color: $form-group-error-color;
        background-image: svg-uri($form-group-error-icon);
        background-repeat: no-repeat;
        background-position: center right 0.563rem;
        background-size: 1.125rem 1.125rem;

        &:focus {
            box-shadow: $form-field-box-shadow, 0 0 6px lighten($form-group-error-color, 20%);
        }
    }
}
