@import '../settings/typography';
@import '../settings/colors';

html {
    min-height: 100%;
    overflow-y: scroll;
    line-height: $base-line-height;
    font-family: $base-font-family;
}

body {
    background-color: $body-bg;
    color: $body-color;
    fill: $body-color;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
}
