@mixin button-variant($color, $background, $hoverColor: null, $hoverBackground: null) {
    color: $color;
    fill: $color;
    background-color: $background;

    @if ($hoverColor == null) {
        $hoverColor: $color;
    }

    @if ($hoverBackground == null) {
        $hoverBackground: mix(#000, $background, 10%);
    }

    &:hover,
    &:focus {
        color: $hoverColor;
        fill: $hoverColor;
        background-color: $hoverBackground;
    }
}
