@mixin button-variant($color, $background) {
    color: $color;
    background-color: $background;

    &:hover,
    &:focus {
        color: $color;
        background-color: mix(#000, $background, 10%);
    }
}
