// @deprecated - use svg solution instead
@mixin fontello($charcode, $includeMargin: true) {
    content: $charcode;
    display: inline-block;
    width: 1em;
    font-family: 'fontello', sans-serif;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    @if ($includeMargin) {
        margin-right: 0.2em;
        margin-left: 0.2em;
    }
}
